{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Suppression d'un produit
{% endblock %}
{% block gsbobjcom_body %}
    <h2>
        Suppression du produit numéro {{ leProd.id }}
    </h2>
    <p>
        Etes vous certain de vouloir supprimer le produit qui s'appelle : {{ leProd.libelle }}
    </p>
    <form action="{{ path('gsb_obj_com_prod_supprimer',{'id':leProd.id}) }}" method="post">
        <input type="submit" value="Supprimer" />
    </form>
    <a href="{{ path('gsb_obj_com_prod_aff_unproduit',{'id':leProd.id}) }}">
        Annulation de la suppression
    </a>

{% endblock %}